:root {
  /* colors */
  --color-primary: #23b2a5;
  --hover-primary: #29ccbe;
  --color-secondary: #ce8dad;

  /* font  */
  --font-primary: #3C4F6C;
  --font-secondary: whitesmoke;
  --font-h1: 36px;
}
.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.font-primary {
  color: var(--font-primary);
}
.font-secondary {
  color: var(--font-secondary);
}

.uppercase {
  text-transform: uppercase;
}

.fs-1 {
  font-size: var(--font-h1);
}

